<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <!--About Section-->
    <section id="about-section">
        <div id="about">
            <h1>About me</h1>
            <p> I live in Boston! <br>
                I am a senior at University of Massachusetts Boston majoring in Computer Science. <br>
                Passionate about software development, technologies and business.
            </p>
        </div>
    </section>
</body>
</html>