<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <!--Portfolio Section-->
    <section id="portfolio-section">
        <div id="portfolio">
            <h1>My projects</h1>
            <div class="cards">
                <div class="skill-card">
                    <img src="imgs/skills/mysql.svg" alt="">
                    <h2>Project1</h2>
                </div>
                <div class="skill-card">
                    <img src="imgs/skills/mysql.svg" alt="">
                    <h2>Project2</h2>
                </div>
                <div class="skill-card">
                    <img src="imgs/skills/mysql.svg" alt="">
                    <h2>Project3</h2>
                </div>
            </div>
        </div>
    </section>
</body>
</html>