<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <!--Skills Section-->
<section id="skills-section">
    <h1>Skillset</h1>
    <div class="cards">
        <div class="skill-card">
            <img src="imgs/skills/python.svg" alt="">
            <h2>Python</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/css.svg" alt="">
            <h2>CSS</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/git.svg" alt="">
            <h2>GIT</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/html.svg" alt="">
            <h2>HTML</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/js.svg" alt="">
            <h2>JavaScript</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/mysql.svg" alt="">
            <h2>MySQL</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/nodejs.svg" alt="">
            <h2>NodeJS</h2>
        </div>
        <div class="skill-card">
            <img src="imgs/skills/react.svg" alt="">
            <h2>ReactJS</h2>
        </div>
    </div>
</section>
</body>
</html>